* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

button {
  padding: 10px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: #334155;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
}